<a href="https://colab.research.google.com/github/Jay172111420/stock-nlp-prediction/blob/main/data_colection_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Project Structure

In [3]:
import os

base_path = "/content/drive/MyDrive/stock-nlp-prediction"

folders = [
    "data/raw",
    "data/processed",
    "models",
    "outputs"
]

for folder in folders:
    os.makedirs(os.path.join(base_path, folder), exist_ok=True)

print("Project structure created.")

Project structure created.

In [4]:
!ls /content/drive/MyDrive/stock-nlp-prediction

data  models  outputs

Download Price Data (TCS)

In [5]:
import yfinance as yf
import pandas as pd

base_path = "/content/drive/MyDrive/stock-nlp-prediction"

ticker = "TCS.NS"

df = yf.download(ticker, start="2021-01-01", end="2025-01-01")

df.head()

/tmp/ipython-input-3658498512.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start="2021-01-01", end="2025-01-01")
[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open   Volume
Ticker           TCS.NS       TCS.NS       TCS.NS       TCS.NS   TCS.NS
Date
2021-01-01  2569.267578  2579.577113  2526.055274  2526.932682  2681440
2021-01-04  2666.835205  2676.749949  2580.410598  2588.351176  5113293
2021-01-05  2713.821045  2732.465952  2666.967576  2666.967576  5801309
2021-01-06  2677.408203  2731.807452  2664.861237  2719.962454  3726716
2021-01-07  2661.000488  2703.159945  2632.440842  2698.027028  3717827

Create lables

In [11]:
# Flatten columns
df.columns = df.columns.get_level_values(0)

# Reset index
df = df.reset_index()

# Keep only needed columns
df = df[['Date', 'Close']]

# Create label
df['Next_Close'] = df['Close'].shift(-1)
df['Label'] = (df['Next_Close'] > df['Close']).astype(int)

df = df.dropna()

df.head()

Price       Date        Close   Next_Close  Label
0     2021-01-01  2569.267578  2666.835205      1
1     2021-01-04  2666.835205  2713.821045      1
2     2021-01-05  2713.821045  2677.408203      0
3     2021-01-06  2677.408203  2661.000488      0
4     2021-01-07  2661.000488  2738.300293      1

In [10]:
df.columns

Index(['index', 'Date', 'Close', 'Next_Close'], dtype='object', name='Price')

In [12]:
df['Label'].value_counts(normalize=True)

Label
1    0.509128
0    0.490872
Name: proportion, dtype: float64

So price labeling pipeline is clean.

Get News Data from Kaggle

In [ ]:
-